//Colors

$main-background: #f5f5f5;
$green: #33c972;
$navigation: #2d3037;
$sub-navigation: #3d3d45;
$line: #1e1f21;
$logo: #3e3e46;
$white: #fdfdfd;
$vertical: #2a2b30;
$articles: #464646;
$article-line: #efefef;
$author: #535353;
$date: #c9c9c9;
$time-background: #faf8f9;
$place-color: #c5c5c5;
$footer: #3e3e46;
$footer-text: #9c9ba0;

//Sizes 

$nav-height: 50px;
$sub_nav-height: 30px;
$font-size: 12px;